
body {
font-family: Arial, sans-serif;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}

.card {
width: 40%; /* Increased width */
padding: 30px; /* Increased padding */
border: 1px solid #ccc;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background: #fff;
height: 40%; 
}

form {
display: grid;
gap: 10px;
}

label {
grid-column: 1 / 2;
grid-row: span 1;
display: flex;
align-items: center;
margin-bottom: 5px;
}

input,
select {
grid-column: 2 / 3;
grid-row: span 1;
width: calc(100% - 10px);
padding: 8px;
box-sizing: border-box;
margin-bottom: 5px;
margin-left: 5px;
}

button {
grid-column: span 2;
padding: 10px;
background-color: #4caf50;
color: #fff;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #45a049;
}

/* Media query for responsive design */
@media screen and (max-width: 600px) {
.card {
 width: 90%;
}
form {
 grid-template-columns: 1fr;
}
}
